/* .form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  } */
.form, .form-input {
  width: 100%;
  height: 50px;  
}

.form-input input {
  height: 100% !important;
}

.form-input .bp3-input-action {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.send-input {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
/* .input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
} */

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #008075;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}