/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
.first_Name {
  color: #f5f8fa !important; }

.middel_name {
  color: #a82a2a !important; }

.last_name {
  color: #0e5a8a !important; }

/*# sourceMappingURL=login-nav.css.map */
