@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";
 
.first_Name {
    color: $light-gray5 !important ;
}

.middel_name {
    color: $red1 !important;
}

.last_name {
    color: $blue1 !important;
}